---
import "../styles/base.scss";
import Assets from "../components/Assets.astro";
import ImageBox from "../components/ImageBox";
import {Toast} from "../components/Toast.tsx"
import { getEntry } from "astro:content";
const appData = (await getEntry('app', 'data'))!.data;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&family=Syne:wght@400..800&display=swap" rel="stylesheet">
		<title>wolfe 🐺</title>
	</head>
	<body>
		<div class="sgrid" id="root">
			<header class="header">
				<div class="header-logo">
					<a class="header-hlink" href="/"><strong class="header-text">L.O.</strong></a>
				</div>
				<nav class="header-nav">
					<ul class="header-list">
						<li class="header-item">
							<a
								href="/"
								class="header-link"
								>Home</a
							>
							
						</li>
<li class="header-item">
							<a
								href="/gallery"
								class="header-link"
								>Gallery</a
							>
							
						</li>
						
<li class="header-item">
							<a
								href="/messages"
								class="header-link"
								>Messages</a
							>
							
						</li>


					</ul>
				</nav>
			</header>

			<main>
				<slot />
			</main>

			<footer class="footer">
				<p class="footer-text">Copyright &copy; <strong class="footer-name">{appData.name}</strong> {new Date().getFullYear()}</p>
				<ul class="footer-links">
					<li class="footer-li">
						<a href={appData.links.whatsapp} class="footer-link">WhatsApp</a>
					</li>
					<li class="footer-li">
						<a href={appData.links.email} class="footer-link">Email</a>
					</li>
					<li class="footer-li">
						<a href={appData.links.x} class="footer-link">X</a>
					</li>
				</ul>
			</footer>
		</div>


		<ImageBox client:only />
		<Toast client:only />	
		<Assets />
	</body>
</html>


<style lang="scss">
main {
	min-height: 70vh;
}

.header {
	display: flex;
	gap: 0.5rem 2rem;
	flex-flow: row wrap;
	place-items: center;
	justify-content: space-between;
	font-size: var(--step-1);
	padding: 1.25rem 0;
	color: var(--clr-gray-900);
	border-bottom: 3px dashed var(--clr-gray-200);

	&-text {
		font-weight: 700;
		font-size: var(--step-2);
	}	


	&-nav {
		display: flex;
		gap: 0.75rem;
		place-items: center;
		flex-flow: row wrap;
	}

	&-list {
		list-style: none;
	}

	&-list, &-li {
		display: contents;
	}


	&-link {
		color: var(--clr-gray-900);
	}


	&-hlink, &-hlink:visited, &-hlink:active {
		text-decoration: none;
		color: var(--clr-gray-900);
	}
}

.footer {
	margin-top: 2rem;
	border-top: 3px dashed var(--clr-gray-200);
	display: grid;
	gap: 0.25rem;
	padding: 1rem 0rem 1.25rem;
	line-height: 1.5;
	font-size: var(--step-1);


	&-name {
		// font-style: italic;
		font-weight: 600;
	}

	&-links {
		display: flex;
		flex-flow: row wrap;
		gap: 1rem;
		list-style: none;
	}

	&-li {
		display: contents;

		& + & {
			.footer-link {
				border-left: 2px solid var(--clr-gray-500);
				padding-left: 1rem;
			}
		}
	}

	&-link  {
		color: var(--clr-gray-900);
	}
}

</style>
